/* === POE.NINJA DARK THEME === */

:root {
  --bg-main: #0f1720;
  --bg-panel: #151f2b;
  --bg-row: #182432;
  --bg-row-hover: #1f2f42;

  --text-main: #e5e7eb;
  --text-muted: #9ca3af;

  --green: #22c55e;
  --red: #ef4444;
  --blue: #93c5fd;

  --border: rgba(255,255,255,0.06);
}

/* App background */
.stApp {
  background-color: var(--bg-main);
  color: var(--text-main);
}

/* Hide Streamlit chrome */
header, footer {
  visibility: hidden;
}

/* Layout */
.block-container {
  padding-top: 1.2rem;
}

/* Header row */
.poe-header {
  background-color: var(--bg-panel);
  border-bottom: 1px solid var(--border);
  padding: 10px 12px;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--text-muted);
  text-transform: uppercase;
}

/* Sticky */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Data rows */
.poe-row {
  background-color: var(--bg-row);
  border-bottom: 1px solid rgba(255,255,255,0.10);
  padding: 18px 16px;
  transition: background 0.15s ease-in-out;
  box-shadow: inset 0 -1px 0 rgba(255,255,255,0.08);
}

.poe-row:hover {
  background-color: var(--bg-row-hover);
}

/* Links */
a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Positive / negative */
.positive {
  color: var(--green);
  font-weight: 600;
}

.negative {
  color: var(--red);
  font-weight: 600;
}

/* Un peu moins de marge sur les markdown html */
div[data-testid="stMarkdown"] > div {
  margin-bottom: 0.15rem;
}

/* === ROW HEIGHT + SEPARATORS  === */

.poe-row{
  display:block;
  padding: 22px 16px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9) !important;
}

.poe-row + .poe-row{
  margin-top: 10px;
}

.poe-row:hover{
  background-color: var(--bg-row-hover) !important;
}

div[data-testid="stMarkdown"]{
  margin: 0 !important;
  padding: 0 !important;
}

.poe-row > div{
  min-height: 60px;
  align-items: center !important;
}